#hero{
    background: url(../images/hero.jpeg) no-repeat center center;
    background-size: cover;
    height: 45vh;
    background-position: bottom;
}
.main-nav{
  padding: 0.5rem;
}

.mobile_hamburger_icon .fa{
  font-size: 2.5rem;
  color: #626262;
}

.mobile-apple-logo{
  position: absolute;
  left: 48%;
  top: 0.4%;
  width: 3rem;
}

.link-to-search-box{
  display: none;
}

.desktop-tablet-nav{
  display:none;
}